{% load staticfiles %}

<html>
	<head>
		<title>.:. Gaming vs Cancer .:.</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="{% static 'GvsC_Main/semantic/semantic.css' %}"/>
		<style type="text/css">
			.GvsC_blue{
				color:#16C1F3 ! important;
			}
			.GvsC_blue.button{
				color:#ffffff ! important;
				background-color:#16C1F3 ! important;
			}
		</style>
		{%block head %} {% endblock head %}
	</head>
	<body>
		<div class="ui large top fixed menu">
			<div class="ui container">
				<a class="active item" href="/">Home</a>
				<a class="item" href="/events">Events</a>
				<a class="item"href="/tournaments">Tournaments</a>
				<div class="right menu">
					{% if request.user.is_authenticated == False %}
						<a class="ui item" href="/accounts/login">
						  <i class="sign in icon"></i>
						  Sign In
						</a>
					{% endif %}
					<div class="item">
						<a class="ui primary button">Sign Up</a>
					</div>
				</div>
			</div>
		</div>

		<div class="pusher">
			{%block main_content %} {% endblock main_content %}
		</div>

		<script src="{% static 'GvsC_Main/js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'GvsC_Main/js/jquery.dotdotdot.js' %}"></script>
		<script src="{% static 'GvsC_Main/semantic/semantic.js' %}" type="text/javascript"></script>
		<script type="text/javascript">
			window.semantic = { handler: {} };
			$(document).ready(semantic.ready);
		</script>

		{% block javascript_includes %}{% endblock javascript_includes %}

	</body>
</html>