{% extends "base.html" %}
{% load staticfiles%}

{% block head %}

<style type="text/css">
	.masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead img {
      margin-top: 8em;
      margin-bottom: 0em;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
</style>

{% endblock head %}

{% block main_content %}

<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui text container">
		<img class="ui centered huge image" src="{% static 'GvsC_Main/rsz_1gvc_logo.png' %}">
		<h2>Together we can land a crit on cancer!</h2>
    </div>
</div>

<div class="ui vertical stripe segment">
	<h2 class="ui header">
		<i class="calendar icon"></i>
		<div class="content">
			Upcoming Events and Tournaments
		</div>
	</h2>
	<div class="ui middle aligned stackable grid container">
		<div class="ui three column grid">
		{% for i in 0,5 %}
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
						<div class="content">
							<a href="/events/{{event.pk}}/">{{ i }}</a>
						</div>
					</h2>
					<div class="ui equal width grid">
						<div class="equal width row">
							<div class="column">
								<h3>Start Date:</h3> {{ i }} Jan 2016
							</div>
							<div class="column">
								<h3>End Date:</h3> {{ i }} Jan 2016
							</div>
						</div>
					</div>
					<h3 class="ui left aligned header">
						<div class="content">
							Description:
						</div>
					</h3>
					<div class="ui left aligned container ellipsis" style="height: 50px;">
						I once had a puppy, little dog of my own! poopa! poopa scoopa!
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock main_content %}