{% extends "base.html" %}
{% load staticfiles %}
{% load range_filter %}

{% block head %}

<style type="text/css">
	.masthead.segment {
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
</style>

{% endblock head %}

{% block main_content %}

<div style="margin-top:3.5em;">
	<div class="ui inverted vertical masthead segment">
		<div class="ui container">
			<div class="ui items">
				<div class="item">
					<div class="ui small image">
						<img src="{% static 'GvsC_Main/rsz_1gvc_logo.png' %}">
					</div>
					<div class="middle aligned content">
						<h3 class="ui huge header" style="color:#ffffff">
							Tournaments
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for event in upcoming_events %}

{% empty %}

{% endfor %}

{% endblock main_content %}