{% load plugin_api %}
{% load range_filter %}

{% if num_rounds != None %}
	{% for i in num_rounds|get_one_based_range reversed %}
        <div class="ui segment">
            <h3> Round {{i}} </h3>
            {% for match in tournament|get_matches_in_round:i %}
                {% if match.is_bye %}
                    <div class="ui info message">
                        <div class="header">
                            Bye
                        </div>
                        {{match.seating_set.first.player.name}} has a bye this round.
                    </div>
                {% endif %}
            {% endfor %}
            {% render_pairings_table tournament i request%}
        </div>
	{% endfor %}
{% endif %}
