{% extends "base.html" %}
{% load staticfiles %}
{% load range_filter %}

{% block head %}

<style type="text/css">
	.masthead.segment {
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
	.inline_header {
		display: inline-block;
	}
</style>

{% endblock head %}

{% block main_content %}
<div style="margin-top:3.5em;">
	<div class="ui inverted vertical masthead segment">
		<div class="ui container">
			<div class="ui items">
				<div class="item">
					<div class="ui small image">
						<img src="{% static 'GvsC_Main/rsz_1gvc_logo.png' %}">
					</div>
					<div class="middle aligned content">
						<h3 class="ui huge header GvsC_white">
							{{ event.name }}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui middle aligned container">
	<div class="ui segment" style="margin-top:1em;">
		<div class="ui equal width grid">
			<div class="equal width row">
				<div class="column">
					<h3>Start Date:</h3> {{ event.start_date }}
				</div>
				<div class="column">
					<h3>End Date:</h3> {{ event.end_date }}
				</div>
			</div>
		</div>
		<h3 class="ui left aligned header">
			<div class="content">
				Description:
			</div>
		</h3>
		<div class="ui left aligned container">
			{{ event.description }}
		</div>
	</div>
	<div class="ui container">
		<h3 class="ui center aligned icon header">
			<i class="circular Checkered Flag icon"></i>
			Tournaments
		</h3>
		<div class="ui stackable grid">
			<div class="ui three column centered grid">
			
			{% for tournament in event.tournament_set.all %}
				<div class="five wide column">
					<div class="ui segment">
						<h2 class="ui centered header">
							<div class="content">
								<a href="/tournaments/{{tournament.pk}}/">{{ tournament.title }}</a>
							</div>
						</h2>
						<h3 class="ui centered header">
							<div class="content">
								{{ tournament.game_plugin.title }}
							</div>
						</h3>
						<div class="ui equal width grid">
							<div class="equal width row">
								<div class="column">
									<h4>Registration:</h4> {{ tournament.registration_start }}
								</div>
								<div class="column">
									<h4>Round One:</h4> {{ tournament.registration_start }}
								</div>
							</div>
						</div>
						<h4 class="ui left aligned header">
							<div class="content">
								Description:
							</div>
						</h4>
						<div class="ui left aligned container ellipsis" style="height: 3em; overflow-y:hidden;">
							{{ tournament.description }}
						</div>
					</div>
				</div>
				{% for i in forloop.counter|loop_to_multipule:3 %}
					<div class="five wide column">
						<div class="ui segment">
							<h2 class="ui centered header">
								<div class="content">
									Sponser Advert here?
								</div>
							</h2>
							<h3 class="ui centered header">
								<div class="content">
									{{ tournament.game_plugin.title }}
								</div>
							</h3>
							<div class="ui equal width grid">
								<div class="equal width row">
									<div class="column">
										<h4>Registration:</h4> {{ tournament.registration_start }}
									</div>
									<div class="column">
										<h4>Round One:</h4> {{ tournament.registration_start }}
									</div>
								</div>
							</div>
							<h4 class="ui left aligned header">
								<div class="content">
									Description:
								</div>
							</h4>
							<div class="ui left aligned container ellipsis" style="height: 3em; overflow-y:hidden;">
								If you would like to host an event under the Gaming vs Cancer banner please contact us!
							</div>
						</div>
					</div>
				{% endfor %}
			{% empty %}
				No tournaments currently schedualed, check back later. 
			{% endfor %}
			
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}